<style>
  .aside {
    max-height: 80vh;
    /* Establece una altura máxima del 80% de la altura de la ventana */
    overflow-y: auto;
    /* Agrega una barra de desplazamiento vertical si es necesario */
  }

  .nested-nav {
    list-style-type: none;
    /* Quita el marcador de lista */
  }
</style>

<aside class="aside">
  <div class="sidebar-sticky aside">
    <ul class="nav flex-column custom-nav">
      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse">
          <strong>Home</strong>
        </a>
        <div class="collapse show" id="homeSection">
          <ul class="nested-nav" style="margin-left: -8px;">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/home/contributing">
                Contributing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/home/code_of_conduct">
                Code of Conduct
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/home/changelog">
                Changelog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/home/license" style="margin-bottom: 15px;">
                License
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse">
          <strong>Properties</strong>
        </a>
        <div class="collapse show" id="propertiesSection">
          <ul class="nested-nav">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/properties/main" style="margin-bottom: 15px;">
                Main
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse" href="#apiSection">
          <strong>API</strong>
        </a>
        <div class="collapse show" id="apiSection">
          <ul class="nested-nav">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/api/model_parameters">
                Model parameters
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/api/setup_method">
                Setup method
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/api/compute_method">
                Compute method
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/api/summary_method">
                Summary method
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/api/results_attributes" style="margin-bottom: 20px;">
                Results attributes
              </a>
            </li>
          </ul>
        </div>
      </li>





      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse" href="#datasetSection">
          <strong>Dataset</strong>
        </a>
        <div class="collapse show" id="datasetSection">
          <ul class="nested-nav">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/dataset/home">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/dataset/naip">
                NAIP
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/dataset/spot">
                SPOT
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/dataset/venµs" style="margin-bottom: 15px;">
                Venµs
              </a>
            </li>
          </ul>
        </div>
      </li>







      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse" href="#metricsSection">
          <strong>Metrics</strong>
        </a>
        <div class="collapse show" id="metricsSection">
          <ul class="nested-nav">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/metrics/consistency">
                Consistency metrics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/metrics/distance">
                Distance metrics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/metrics/correctness" style="margin-bottom: 15px;">
                Correctness metrics
              </a>
            </li>
          </ul>
        </div>
      </li>





      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse" href="#examplesSection">
          <strong>Examples</strong>
        </a>
        <div class="collapse show" id="examplesSection">
          <ul class="nested-nav">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/examples/pytorch_models">
                PyTorch models
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/examples/tensorflow_models">
                TensorFlow models
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/examples/diffuser_models">
                Diffuser models
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/examples/multi_image_sr_model">
                Multi-image SR model
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/examples/create_correctness_animation"
                style="margin-bottom: 15px;">
                Create Correctness animation
              </a>
            </li>
          </ul>
        </div>
      </li>



      <li class="nav-item">
        <a class="nav-link" id="subtitle" data-toggle="collapse" href="#benchmarksSection">
          <strong>Benchmarks</strong>
        </a>
        <div class="collapse show" id="benchmarksSection">
          <ul class="nested-nav">
            <li class="nav-item">
              <a class="nav-link" href="/OpenSR-test/benchmarks">
                Benchmarks
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</aside>